{# Edit action template for Questions controller #}
{% extends 'base.twig' %}

{% block title %}{{  'Edit qestion'|trans }}{% endblock %}

{% block head %}
     {{ parent() }} 
    <style type="text/css">
        img { margin: 0 10px; float: left; width: 80px; height: 80px; }
        p { font-size: 30px; font-weight: bold; }
    </style>
{% endblock %}

{% block content %}
    <br>
    {% if question.del == 0 %}
        <img class="img-thumbnail" src="{{ app.request.basepath }}/upload/{{ question.avatar|e }}" />
        <p>{{ question.login }} asked:</p><br><br>
    {% else %}
        <img class="img-thumbnail" src="{{ app.request.basepath }}/upload/del.jpg" />
        <p>deleted asked:</p><br><br>
    {% endif %}
    <center>
    {{ question.question }}<br><br>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="well">
            <form role="form" action="{{ url('questions_edit', {'id':id}) }}" method="post">
                {{ form_start(form)  }}
                    <div class="form-group">
                        {{ form_row(form.answer) }}
                    </div>
                    <input type="submit" class="btn btn-default" name="submit" value="{{ 'Answer'|trans }}" />
                {{ form_end(form) }}
            </form>
        </div>
    </div>
{% endblock %}
