{# Delete action template for Users controller #}

{% extends 'base.twig' %}

{% block title %}{{  'Delete user'|trans }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>
        {{ 'Delete user'|trans }}
    </h1>
    <form action="{{ url('user_delete', {'id':id}) }}" method="post">
        {{ form_widget(form) }}
	    <p>{{ 'Are You sure about deleting this user?'|trans }}</p>
        <input type="submit" class="btn btn-success" name="submit" value="{{ 'Yes'|trans }}" />
	    <a href="{{ url('user_index') }}" class="btn btn-danger" >{{ 'NOPE!'|trans }}</a>
    </form>
{% endblock %}
