{# Index action template for Albums controller #}
{% extends 'base.twig' %}

{% block title %}{{ 'Users list'|trans }}{% endblock %}

{% block head %}
     {{ parent() }}
    <style type="text/css">
        img { width: 150px; height: 150px; }
        .big { font-size: 40px; font-weight: bold;}
        .icon { width: 32px; height: 32px; }
    </style>
{% endblock %}

{% block content %}

    {% for flashMessage in app.session.getFlashBag.get('message') %}
        <br>
        <div class="alert alert-{{ flashMessage.type }}" role="alert">
            {{ flashMessage.content }}
        </div>
    {% endfor %}

    <h1>
        {{ 'Users list'|trans }}
    </h1>
    {% if paginator.pagesCount > 1 %}
        <div>
            <ul class="pagination">
                {% set previous = (paginator.page - 1) %}
                {% set next = (paginator.page + 1) %}
                {% if paginator.page > 1 %}
                    <li><a href="{{ url('user_index', {'page': previous}) }}" title="{{ 'previous page'|trans }}">&laquo</a></li>
                {% else %}
                    <li class="disabled"><a href="" title="{{ 'previous page'|trans }}">&laquo</a></li>
                {%  endif %}
                {% for i in 1..paginator.pagesCount %}
                    {% if i == paginator.page %}
                        <li class="active"><a href="{{ url('user_index', {'page': i}) }}">{{ i }}</a></li>
                    {% else %}
                        <li><a href="{{ url('user_index', {'page': i}) }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if paginator.page < paginator.pagesCount %}
                    <li><a href="{{ url('user_index', {'page': next}) }}" title="{{ 'next page'|trans }}">&raquo</a></li>
                {% else %}
                    <li class="disabled"><a href="" title="{{ 'next page'|trans }}">&raquo</a></li>
                {% endif  %}
            </ul>
        </div>
    {% endif %}

    <div>
    {%  if users|length > 0 %}
        <table class="table table-hover">
            <tbody>
            {% for user in users %}
                <tr onClick="location.href='{{ url('board', {'id': user.id}) }}'">
                        <td><img class="img-thumbnail" src="{{ app.request.basepath }}/upload/{{ user.avatar|e }}" alt="{ user.login }" /></td>
                        <td>
                            <p class="big">{{ user.login|upper }}</p>
                            {{ user.name }} {{ user.surname }}
                            {% if user.role_id == 1 %}
                                <small style="color: lime;">[admin]</small><br><br>
                            {% else %}
                                <br><br>
                            {% endif %}
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a href="{{ url('user_view', {'id': user.id}) }}"><img src="https://cdn3.iconfinder.com/data/icons/rcons-e-mail-client/32/search_contact_mail-512.png" class="icon" alt="delete"></a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ url('user_edit', {'id': user.id}) }}"><img src="http://static.tumblr.com/4c0d946457ea30931e1b10dc8e378e87/jjjsjij/RXWmz1z5x/tumblr_static_edit_logo.png" class="icon" alt="edit""></a>
                                {% if user.login != currentUser %}
                                    <a href="{{ url('user_delete', {'id': user.id}) }}"><img src="https://cdn3.iconfinder.com/data/icons/musthave/256/Remove.png" class="icon" alt="delete"></a>
                                {% endif %}
                                <a href="{{ url('set_grants', {'id': user.id}) }}"><img src="http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/256/Apps-system-software-update-icon.png" class="icon" title="set grants"></a>
                            {% endif %}
                        </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger" role="alert">
            {{ 'Users not found'|trans }}.
        </div>
    {% endif %}
    </div>
    <div></div>
{% endblock %}
