{% extends 'base.twig' %}

{% block title %}Profil - {{ user.login }}{% endblock %}

{% block head %}
     {{ parent() }} 
    <style type="text/css">
	img { float: left; width: 250px; height: 250px; }
    </style>
{% endblock %}

{% block content %}
    <br>
    <img class="img-thumbnail" src="{{ app.request.basepath }}/media/{{ user.avatar|e }}" />
    <h1>
        {{ user.login }}
    </h1>
    {{ 'Surame:'|trans }}
    <big>
        {{ user.surname }}
    </big><br>
    {{ 'Name:'|trans }}
    <small>
        {{ user.name }}
    </small><br>
    {{ 'e-mail:'|trans }}
        {{ user.email }}<br>
    {{ 'website:'|trans }}
    <a href="{{ user.website }}">{{ user.website }}</a><br>
    {% if user.facebook|length > 0 %}
        <a href="{{ user.facebook }}">{{ 'facebook'|trans }}</a>
    {% endif %}
    <br><br><br><br><br><br>
    <a href="{{ url('user_index') }}" >POWRÓT NA POPRZEDNIĄ STRONĘ</a>
{% endblock %}
