{% extends 'base.twig' %}

{% block title %}Profil - {{ user.login }}{% endblock %}

{% block head %}
     {{ parent() }} 
    <style type="text/css">
	img { margin: 0 10px; float: left; width: 250px; height: 250px; }
    </style>
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.getFlashBag.get('message') %}
        <br>
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
    {% endfor %}
    {%  if user|length > 0 %}
        <br>
        <img class="img-thumbnail" src="{{ app.request.basepath }}/upload/{{ user.avatar|e }}" />
        <h1>
            {{ user.login }}
        </h1>
        {{ 'Surame:'|trans }}
        <big>
            {{ user.surname }}
        </big><br>
        {{ 'Name:'|trans }}
        <small>
            {{ user.name }}
        </small><br>
        {{ 'e-mail:'|trans }}
            {{ user.email }}<br>
        {{ 'website:'|trans }}
        <a href="{{ user.website }}">{{ user.website }}</a><br>
        {% if user.facebook|length > 0 %}
            <a href="{{ user.facebook }}">{{ 'facebook'|trans }}</a>
        {% endif %}
        <br><br><br><br><br><br>
        <a href="{{ url('user_index') }}" class="btn btn-default">Back to users list</a>
        {% if user.id == userId %}
            <a href="{{ url('edit') }}" class="btn btn-default">Edit my profile</a>
            <a href="{{ url('avatar') }}" class="btn btn-default">Change avatar</a>
            <a href="{{ url('reset_password') }}" class="btn btn-default">Reset password</a>
        {% endif %}
        <br><br>
    {% else %}
        <br>
        <div class="alert alert-danger" role="alert">
            {{ 'User not found'|trans }}.
        </div>
    {% endif %}
{% endblock %}
